body {
  color: #03191E;
  font-family: 'Zen Kurenaido', sans-serif;
  background-color: #C1CFDA;
  font-size: 25px;
}

#nome {
  font-family: 'Dancing Script', cursive;
  color: #005e94;
  text-decoration: none;
  /* margin: 0px 50px 3px 380px; */
}

p {
  font-size: 20px;
  text-indent: 10px;
}

li {
  font-size: 20px;
  line-height: 35px;
}

#foto {
  width: 250px;
  border-radius: 10px;
  float: left;
  margin: 0px 50px 0px 10px;
  padding: 10px;
  background-color: #9cc4e4;
}

div {
  height: 250px;
}

.conhecimentos li:nth-child(odd) {
  background-color: #9cc4e4;
  width: 15%;
}

h2 {
  margin-left: 25px;
}

/* Cores 
Beau Blue  #C1CFDA
Carolina Blue #20A4F3
Turquoise Blue #59F8E8
Crimson UA #941C2F
Rich Black FOGRA 29 #03191E
*/
